# Service Port Configuration
# Each service has its own port variable to avoid conflicts
API_GATEWAY_PORT=3333
CRAWLER_PORT=3001
AI_SERVICE_PORT=8000
CLIENT_PORT=3000

# API Gateway Configuration
NODE_ENV=development
CRAWLER_SERVICE_URL=http://localhost:3001
AI_SERVICE_URL=http://localhost:8000/api
CORS_ORIGINS=http://localhost:4200,http://localhost:3000

# AI Service
GOOGLE_API_KEY=your_google_api_key_here
# MODEL_NAME=gemini-1.5-flash

# Client
NEXT_PUBLIC_GATEWAY_URL=http://localhost:3333/api

# Database (Prisma)
DATABASE_URL="postgresql://user:password@localhost:5432/rank_orbit?schema=public"

# Redis
REDIS_URL="redis://localhost:6379"
