
# API Gateway
PORT=3333
NODE_ENV=development
CRAWLER_SERVICE_URL=http://localhost:3001
AI_SERVICE_URL=http://localhost:8000/api
CORS_ORIGINS=http://localhost:4200,http://localhost:3000

# Crawler Service
# Uses PORT if defined, but usually standard 3001
# NODE_ENV=development

# AI Service
# GOOGLE_API_KEY=your_google_api_key_here
# MODEL_NAME=gemini-pro

# Client
NEXT_PUBLIC_GATEWAY_URL=http://localhost:3333/api
